<footer id="footer">
  <div>
    <p>Visit me on GitHub</p>
    <a href="https://github.com/benjaminmilcic" target="_blank"
      ><i
        class="fa-brands fa-github"
        style="
          color: #1d809f;
          font-size: 64px;
          box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
          border-radius: 50%;
        "
        onmouseover="this.style.color='#155d74';"
        onmouseout="this.style.color='#1d809f';"
      ></i
    ></a>
    <p>Copyright &copy; Benjamin Milčić 2023</p>
  </div>
</footer>
