section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 3rem 10rem;
  /* background-color: #22c1c3; */
  /* background: rgb(34, 193, 195); */
  background: linear-gradient(
    35deg,
    rgba(29, 128, 159, 0.5) 0%,
    rgba(236, 184, 7, 0.5) 100%
  );
}

/* #1d809f */

h3 {
  font-size: 2rem;
  margin-bottom: 4rem;
  /* font-weight: 700; */
  text-align: center;
}

img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  margin-bottom: 1rem;
  float: left;
  margin-right: 20px;
}

.about {
  font-size: 1.2rem;
  margin-bottom: 3rem;
  font-weight: 400;
  max-width: 900px;
}

ul {
  overflow: auto;
}

.button {
  border-radius: 10px;
  background-color: #212529;
  border-radius: 0.25rem;
  color: white;
  padding: 1rem 2rem;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
}

.button:active {
  box-shadow: 0 0 0 0.25rem rgba(66, 70, 73, 0.5);
}

.button-wrapper {
  margin-top: 6rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  h3 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  section {
    padding: 3rem 3rem 3rem;
  }

  .about {
    font-size: 1rem;
  }

  .button {
    padding: 0.75rem 1.5rem;
    font-size: 0.75rem;
  }

  img {
    float: none;
  }
}
