<section id="about">
  <div id="cv-wrapper" [ngClass]="{ active: cvActivated }">
    <ng-container *ngIf="cvActivated">
      <div style="display: flex; justify-content: space-between">
        <div (click)="toggleCv($event)" class="close-cv-button">
          <p>X</p>
        </div>
        <p>{{ "about.curriculumVitae" | translate }}</p>
        <div></div>
      </div>
      <object *ngIf="translateService.currentLang=='de'"
        data="../../assets/CV_DE.pdf"
        class="embeded-pdf"
        type="application/pdf"
      ></object>
      <object *ngIf="translateService.currentLang=='en'"
        data="../../assets/CV_EN.pdf"
        class="embeded-pdf"
        type="application/pdf"
      ></object>
    </ng-container>
  </div>

  <div>
    <h3>{{ "about.aboutMe" | translate }}</h3>
    <div style="position: relative">
      <img src="assets/__5x7.jpg" />
      <div class="cv-button" (click)="toggleCv($event)">CV</div>
    </div>

    <div class="about">
      <p>
        {{ "about.text1" | translate }}<br /><br />
        {{ "about.text2" | translate }}<br /><br />
        {{ "about.text3" | translate }}<br /><br />
        {{ "about.text4" | translate }}
        <a href="https://www.itm-webdesign.com/" target="_blank"
          >ITM Webdesign</a
        >
        {{ "about.text5" | translate }}
        <a href="https://codext.de/" target="_blank">Codext GmbH</a>.<br />
        {{ "about.text6" | translate }}<br />
        {{ "about.text7" | translate }}<br /><br />
        {{ "about.text8" | translate }}<br /><br />
        {{ "about.text9" | translate }}<br /><br />
        {{ "about.text10" | translate }}
      </p>
    </div>

    <div class="button-wrapper">
      <a href="#skills" class="button">{{ "about.mySkills" | translate }}</a>
    </div>
  </div>
</section>
