<section id="about">
  <div>
    <h3>About me</h3>
    <img src="assets/__5x7.jpg" />
    <!-- <p>
      I`m an Angular Frontend Developer.<br /><br />
      I was born in Halle/Saale, a beautiful city in Germany.<br />
      Currently, I am living on the island of Krk, Croatia.<br /><br />
      I am married and have a child.<br /><br />
      I love Web development, which I am doing since I was a teenager.
    </p> -->

    <div class="about">
      <p>
        I`m an Angular Frontend Developer.<br /><br />
        I am a career changer in this professional field, but have previously
        created websites privately and worked with HTML, CSS, Javascript and
        PHP.<br /><br />
        In 2019 I took online courses to get started professionally in website
        and mobile App development. For this I worked through courses about
        Angular and Ionic.<br /><br />
        After that I worked as a freelancer for two companies,
        <a href="https://www.itm-webdesign.com/" target="_blank"
          >ITM Webdesign</a
        >
        and <a href="https://codext.de/" target="_blank">Codext GmbH</a>.<br />
        I was involved in the further development of existing websites and
        mobile apps with Angular and Ionic.<br />
        During this work I dealt with CSS frameworks Bootstrap and Tailwinds and
        the Cypress test framework.<br /><br />
        Furthermore, I have basic knowledge in backend programming.<br />
        I wrote a few small REST APIs using Node.js, Nest.js and SQL.<br />
        At the moment I'm reading up on programming with Java and Spring
        Boot.<br /><br />
        I speak very good english and advanced Croatian. My wife is Croatian and
        I only speak English and Croatian to her and my young daughter. But my
        mother tongue is German.
      </p>
    </div>

    <div class="button-wrapper">
      <a href="#skills" class="button">My Skills</a>
    </div>
  </div>
</section>
