<section id="about">
  <div>
    <!-- <h2>About</h2> -->
    <img src="assets/__5x7.jpg" />
    <p>
      I am a Full Stack Web Developer.<br /><br />
      I was born in Halle/Saale, a beautiful city in Germany.<br />
      Currently, I am living on the island of Krk, Croatia.<br /><br />
      I am married and have a child.<br /><br />
      I love Web development, which I am doing since I was a teenager.
    </p>
    <div class="button-wrapper"><a href="#skills">My Skills</a></div>
  </div>
</section>
