<section id="skills">
  <div class="flex justify-center w-full content">
    <div class="main hidden md:block">
      <div class="circle">
        <img src="assets/svg/html5.svg" width="36px" />
        <p class="mt-1">HTML5</p>
      </div>
      <div class="circle">
        <img src="assets/svg/css3.svg" width="36px" class="rotate-[-28deg]" />
        <p class="ml-10 rotate-[-28deg]">CSS3</p>
      </div>
      <div class="circle">
        <img src="assets/svg/js.svg" width="36px" class="rotate-[-55deg]" />
        <p class="ml-14 -mt-2 rotate-[-55deg]">JavaScript</p>
      </div>
      <div class="circle">
        <img
          src="assets/svg/angular.svg"
          width="36px"
          class="rotate-[-83deg]"
        />
        <p class="ml-16 -mt-7 rotate-[-83deg]">Angular</p>
      </div>
      <div class="circle">
        <img src="assets/svg/ionic.svg" width="36px" class="rotate-[-111deg]" />
        <p class="rotate-[-111deg] -mt-[42px] ml-16">Ionic</p>
      </div>
      <div class="circle">
        <img
          src="assets/svg/cypress.svg"
          width="36px"
          class="rotate-[-138deg]"
        />
        <p class="rotate-[-138deg] -mt-14 ml-11">Cypress</p>
      </div>
      <div class="circle">
        <img
          src="assets/svg/bootstrap.svg"
          width="36px"
          class="rotate-[-166deg]"
        />
        <p class="rotate-[-166deg] -mt-16 ml-6">Bootstrap</p>
      </div>
      <div class="circle">
        <img
          src="assets/svg/tailwind.svg"
          width="36px"
          class="rotate-[-194deg]"
        />
        <p class="rotate-[-194deg] -mt-14 -ml-2">Tailwind</p>
      </div>
      <div class="circle">
        <img src="assets/svg/mysql.svg" width="36px" class="rotate-[-222deg]" />
        <p class="rotate-[-222deg] -mt-14 -ml-12">MySQL</p>
      </div>
      <div class="circle">
        <img
          src="assets/svg/nodejs.svg"
          width="64px"
          class="rotate-[-249deg]"
        />
        <p class="rotate-[-249deg] -mt-12 -ml-16">Node.js</p>
      </div>
      <div class="circle">
        <img src="assets/svg/nestjs.svg" class="rotate-[-278deg]" />
        <p class="rotate-[-278deg] -mt-8 -ml-20">NestJS</p>
      </div>
      <div class="circle">
        <img src="assets/svg/npm.svg" class="rotate-[-305deg]" />
        <p class="rotate-[-305deg] -mt-2 -ml-12">npm</p>
      </div>
      <div class="circle">
        <img
          src="assets/svg/docker.svg"
          width="36px"
          class="rotate-[-332deg]"
        />
        <p class="rotate-[-332deg] -ml-8">Docker</p>
      </div>
    </div>
  </div>
  <div class="skills-wrapper md:hidden content">
    <div class="p-6 flex justify-center">
      <div class="max-w-96">
        <img src="/assets/workplacehome.jpg" class="rounded-lg" />
      </div>
    </div>

    <div class="l-and-t-wrapper">
      <ul class="languages-and-tools">
        <li>
          <div class="item-wrapper">
            <img src="assets/svg/html5.svg" />
            <p class="!text-black">HTML5</p>
          </div>
        </li>
        <li>
          <div class="item-wrapper">
            <img src="assets/svg/css3.svg" />
            <p class="!text-black">CSS3</p>
          </div>
        </li>
        <li>
          <div class="item-wrapper">
            <img src="assets/svg/js.svg" />
            <p class="!text-black">JavaScript</p>
          </div>
        </li>
        <li>
          <div class="item-wrapper">
            <img src="assets/svg/angular.svg" />
            <p class="!text-black">Angular</p>
          </div>
        </li>
        <li>
          <div class="item-wrapper">
            <img src="assets/svg/ionic.svg" />
            <p class="!text-black">Ionic</p>
          </div>
        </li>
        <li>
          <div class="item-wrapper">
            <img src="assets/svg/cypress.svg" />
            <p class="!text-black">Cypress</p>
          </div>
        </li>
        <li>
          <div class="item-wrapper">
            <img src="assets/svg/bootstrap.svg" />
            <p class="!text-black">Bootstrap</p>
          </div>
        </li>
        <li>
          <div class="item-wrapper">
            <img src="assets/svg/tailwind.svg" />
            <p class="!text-black">Tailwinds</p>
          </div>
        </li>
        <li>
          <div class="item-wrapper">
            <img src="assets/svg/firebase.svg" width="32px" />
            <p class="!text-black">Firebase</p>
          </div>
        </li>
        <li>
          <div class="item-wrapper">
            <img src="assets/svg/mysql.svg" />
            <p class="!text-black">MySQL</p>
          </div>
        </li>
        <li>
          <div class="item-wrapper">
            <img src="assets/svg/nodejs.svg" width="64px" />
            <p class="!text-black">Node.js</p>
          </div>
        </li>
        <li>
          <div class="item-wrapper">
            <img src="assets/svg/nestjs.svg" />
            <p class="!text-black">NestJS</p>
          </div>
        </li>
        <li>
          <div class="item-wrapper">
            <img src="assets/svg/npm.svg" />
            <p class="!text-black">npm</p>
          </div>
        </li>
        <li>
          <div class="item-wrapper">
            <img src="assets/svg/docker.svg" />
            <p class="!text-black">Docker</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="button-wrapper">
    <a href="#portfolio">Portfolio</a>
  </div>
</section>
