<section id="skills">
  <div class="skills-wrapper">
    <h2>Skills</h2>
    <h3>Programming languages & Tools</h3>
    <div class="l-and-t-wrapper">
      <ul class="languages-and-tools">
        <li>
          <div class="item-wrapper">
            <img src="assets/svg/html5.svg" width="48px" title="HTML5" />
            <p>HTML5</p>
          </div>
        </li>
        <li>
          <div class="item-wrapper">
            <img src="assets/svg/css3.svg" width="48px" title="CSS3" />
            <p>CSS3</p>
          </div>
        </li>
        <li>
          <div class="item-wrapper">
            <img src="assets/svg/js.svg" width="48px" title="JavaScript" />
            <p>JavaScript</p>
          </div>
        </li>
        <li>
          <div class="item-wrapper">
            <img src="assets/svg/angular.svg" width="48px" title="Angular" />
            <p>Angular</p>
          </div>
        </li>
        <li>
          <div class="item-wrapper">
            <img src="assets/svg/ionic.svg" width="48px" title="Ionic" />
            <p>Ionic</p>
          </div>
        </li>
        <li>
          <div class="item-wrapper">
            <img src="assets/svg/cypress.svg" width="48px" title="Cypress" />
            <p>Cypress</p>
          </div>
        </li>
        <li>
          <div class="item-wrapper">
            <img
              src="assets/svg/bootstrap.svg"
              width="48px"
              title="Bootstrap"
            />
            <p>Bootstrap</p>
          </div>
        </li>
        <li>
          <div class="item-wrapper">
            <img src="assets/svg/tailwind.svg" width="48px" title="Tailwinds" />
            <p>Tailwinds</p>
          </div>
        </li>
        <li>
          <div class="item-wrapper">
            <img src="assets/svg/firebase.svg" width="32px" title="Firebase" />
            <p>Firebase</p>
          </div>
        </li>
        <li>
          <div class="item-wrapper">
            <img src="assets/svg/mysql.svg" width="48px" title="MySQL" />
            <p>MySQL</p>
          </div>
        </li>
        <li>
          <div class="item-wrapper">
            <img src="assets/svg/nodejs.svg" width="64px" title="Node.js" />
            <p>Node.js</p>
          </div>
        </li>
        <li>
          <div class="item-wrapper">
            <img
              src="assets/svg/expressjs.svg"
              width="48px"
              title="Express.js"
            />
            <p>Express.js</p>
          </div>
        </li>
        <li>
          <div class="item-wrapper">
            <img src="assets/svg/nestjs.svg" width="48px" title="NestJS" />
            <p>NestJS</p>
          </div>
        </li>
        <li>
          <div class="item-wrapper">
            <img
              src="assets/svg/handlebars.svg"
              width="48px"
              title="Handlebars"
            />
            <p>Handlebars</p>
          </div>
        </li>
        <li>
          <div class="item-wrapper">
            <img src="assets/svg/pug.svg" width="48px" title="Pug" />
            <p>Pug</p>
          </div>
        </li>
        <li>
          <div class="item-wrapper">
            <img src="assets/svg/typeorm.svg" width="48px" title="TypeORM" />
            <p>TypeORM</p>
          </div>
        </li>
        <li>
          <div class="item-wrapper">
            <img src="assets/svg/npm.svg" width="48px" title="npm" />
            <p>npm</p>
          </div>
        </li>
        <li>
          <div class="item-wrapper">
            <img src="assets/svg/docker.svg" width="48px" title="Docker" />
            <p>Docker</p>
          </div>
        </li>
      </ul>
    </div>

    <h3>Workflow</h3>
    <div class="workflow-wrapper">
      <ul class="workflow">
        <li>
          <span><i class="fa-solid fa-check"></i></span>
          Mobile-First, Responsive Design
        </li>
        <li>
          <span><i class="fa-solid fa-check"></i></span>
          Test-Driven Development
        </li>
      </ul>
    </div>
    
    <div class="button-wrapper">
      <a href="#portfolio">Portfolio</a>
    </div>
  </div>
</section>
