section {
  background-color: rgb(29, 128, 159);
  display: flex;
  padding: 5rem 0rem 10rem;
}

.skills-wrapper {
  width: 100%;
}

h2 {
  text-align: center;
  font-size: 3rem;
  color: rgb(236, 184, 7);
  font-weight: 900;
}

.header-wrapper1 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-wrapper2 {
  width: 900px;
  margin: 0rem 7.5rem;
}

h3 {
  font-size: 2rem;
  color: white;
  margin: 0rem 3rem 3rem;
  text-align: left;
}

.l-and-t-wrapper {
  display: flex;
  justify-content: center;
}

.languages-and-tools {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
}

.item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 100px;
}

.item-wrapper img {
  width: 48px;
  height: 48px;
}

.item-wrapper p {
  color: white;
  font-weight: 900;
  font-size: 0.75rem;
}

.workflow-wrapper {
  display: flex;
  justify-content: center;
}

.workflow {
  max-width: 900px;
  width: 100%;
  list-style: none;
}

.workflow li {
  margin-left: 3rem;
  color: white;
  font-size: 1.25rem;
  line-height: 2rem;
}

.workflow li span {
  margin-right: 1rem;
}

a {
  border-radius: 10px;
  background-color: #ecb807;
  border-radius: 0.25rem;
  color: black;
  padding: 1rem 2rem;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  background-color: #efc32c;
}

a:active {
  box-shadow: 0 0 0 0.25rem rgba(201, 156, 6, 0.5);
}

.button-wrapper {
  margin-top: 6rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
    text-align: center;
  }

  .workflow li {
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  a {
    padding: 0.75rem 1.5rem;
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 567px) {
  .item-wrapper {
    width: 60px;
  }

  .item-wrapper img {
    width: 36px;
    height: 36px;
  }
}

@media screen and (max-width: 400px) {
  .workflow li {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 320px) {
  .workflow li {
    margin-left: 0rem;
  }
}
