<section id="skills">
  <div class="skills-wrapper">
    <!-- <h2>Skills</h2> -->
    <div class="header-wrapper1">
      <div class="header-wrapper2">
        <h3>Programming languages & Tools</h3>
      </div>
    </div>

    <div class="l-and-t-wrapper">
      <ul class="languages-and-tools">
        <li>
          <div class="item-wrapper">
            <img src="assets/svg/html5.svg" />
            <p class="skill-text">HTML5</p>
          </div>
        </li>
        <li>
          <div class="item-wrapper">
            <img src="assets/svg/css3.svg" />
            <p class="skill-text">CSS3</p>
          </div>
        </li>
        <li>
          <div class="item-wrapper">
            <img src="assets/svg/js.svg" />
            <p class="skill-text">JavaScript</p>
          </div>
        </li>
        <li>
          <div class="item-wrapper">
            <img src="assets/svg/angular.svg" />
            <p class="skill-text">Angular</p>
          </div>
        </li>
        <li>
          <div class="item-wrapper">
            <img src="assets/svg/ionic.svg" />
            <p class="skill-text">Ionic</p>
          </div>
        </li>
        <li>
          <div class="item-wrapper">
            <img src="assets/svg/cypress.svg" />
            <p class="skill-text">Cypress</p>
          </div>
        </li>
        <li>
          <div class="item-wrapper">
            <img src="assets/svg/bootstrap.svg" />
            <p class="skill-text">Bootstrap</p>
          </div>
        </li>
        <li>
          <div class="item-wrapper">
            <img src="assets/svg/tailwind.svg" />
            <p class="skill-text">Tailwinds</p>
          </div>
        </li>
        <li>
          <div class="item-wrapper">
            <img src="assets/svg/firebase.svg" width="32px" />
            <p class="skill-text">Firebase</p>
          </div>
        </li>
        <li>
          <div class="item-wrapper">
            <img src="assets/svg/mysql.svg" />
            <p class="skill-text">MySQL</p>
          </div>
        </li>
        <li>
          <div class="item-wrapper">
            <img src="assets/svg/nodejs.svg" width="64px" />
            <p class="skill-text">Node.js</p>
          </div>
        </li>
        <!-- <li>
          <div class="item-wrapper">
            <img src="assets/svg/expressjs.svg" />
            <p class="skill-text">Express.js</p>
          </div>
        </li> -->
        <li>
          <div class="item-wrapper">
            <img src="assets/svg/nestjs.svg" />
            <p class="skill-text">NestJS</p>
          </div>
        </li>
        <!-- <li>
          <div class="item-wrapper">
            <img src="assets/svg/handlebars.svg" />
            <p class="skill-text">Handlebars</p>
          </div>
        </li>
        <li>
          <div class="item-wrapper">
            <img src="assets/svg/pug.svg" />
            <p class="skill-text">Pug</p>
          </div>
        </li>
        <li>
          <div class="item-wrapper">
            <img src="assets/svg/typeorm.svg" />
            <p class="skill-text">TypeORM</p>
          </div>
        </li> -->
        <li>
          <div class="item-wrapper">
            <img src="assets/svg/npm.svg" />
            <p class="skill-text">npm</p>
          </div>
        </li>
        <li>
          <div class="item-wrapper">
            <img src="assets/svg/docker.svg" />
            <p class="skill-text">Docker</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="header-wrapper1">
      <div class="header-wrapper2">
        <h3>Workflow</h3>
      </div>
    </div>
    <div class="workflow-wrapper">
      <ul class="workflow">
        <li>
          <span><i class="fa-solid fa-check"></i></span>
          Mobile-First, Responsive Design
        </li>
        <li>
          <span><i class="fa-solid fa-check"></i></span>
          Test-Driven Development
        </li>
      </ul>
    </div>

    <div class="button-wrapper">
      <a href="#portfolio">Portfolio</a>
    </div>
  </div>
</section>
