section {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 7.5rem 0rem 10rem;
}

h3 {
  color: rgb(236, 184, 7);
  margin: 0px;
  font-size: 1rem;
}

h2 {
  margin: 0px;
  font-size: 3rem;
  margin-bottom: 3rem;
  font-weight: 900;
}

.portfolio-item {
  position: relative;
}

@media (hover) {
  .portfolio-item img,
  .portfolio-item .portfolio-caption,
  .portfolio-item .portfolio-overlay {
    transition: clip-path 0.25s ease-out, -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(-1px);
    clip-path: inset(-1px);
  }

  .portfolio-item:hover img,
  .portfolio-item:hover .portfolio-caption,
  .portfolio-item:hover .portfolio-overlay {
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }

  .portfolio-item:hover .portfolio-caption .portfolio-caption-content {
    visibility: visible;
    background-color: rgba(29, 128, 159, 0.7);
  }
}

.portfolio-image-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.portfolio-link-wrapper {
  position: relative;
  max-width: 530px;
  overflow: hidden;
}

.portfolio-image {
  max-width: 530px;
  aspect-ratio: auto;
}

.portfolio-link {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.portfolio-item .portfolio-caption {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 37, 41, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  max-width: 530px;
}

.portfolio-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #efc32c;
  opacity: 0.3;
}

.portfolio-item .portfolio-caption .portfolio-caption-content {
  visibility: hidden;
  padding: 3.5rem;
  transition: background-color 0.7s;
  text-align: left;
  color: white;
  display: flex;
  align-items: center;
}

.portfolio-caption-header {
  font-size: 1rem;
  font-weight: 900;
}

.portfolio-caption-text {
  font-size: 1.25rem;
  font-weight: 300;
}

.contact-button {
  border-radius: 10px;
  background-color: #212529;
  border-radius: 0.25rem;
  color: white;
  padding: 1rem 2rem;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
}

.contact-button:active {
  box-shadow: 0 0 0 0.25rem rgba(66, 70, 73, 0.5);
}

.button-wrapper {
  margin-top: 6rem;
}

@media (hover: none) {
  .portfolio-item .portfolio-caption {
    background-color: transparent;
    position: relative;
  }

  .portfolio-item .portfolio-caption .portfolio-caption-content {
    visibility: visible;
    padding: 0rem;
    color: black;
    text-align: center;
  }

  a {
    text-decoration: none;
  }
}

@media screen and (max-width: 768px) {
  section {
    padding: 7.5rem 3rem 10rem;
  }

  h2 {
    font-size: 2rem;
  }

  .portfolio-caption-text {
    font-size: 1rem;
  }

  .portfolio-item .portfolio-caption {
    max-width: 360px;
  }

  .portfolio-link-wrapper {
    max-width: 360px;
  }

  .portfolio-image {
    max-width: 360px;
  }
}

@media screen and (max-width: 600px) {
  .contact-button {
    padding: 0.75rem 1.5rem;
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 400px) {
  .portfolio-item .portfolio-caption {
    max-width: 240px;
  }

  .portfolio-link-wrapper {
    max-width: 240px;
  }

  .portfolio-image {
    max-width: 240px;
  }
}
