<section id="portfolio">
  <div>
    <h3>PORTFOLIO</h3>
    <h2>Recent Projects</h2>
    <div class="portfolio-item">
      <a href="https://vocabularyinputapp.web.app/" target="_blank">
        <div class="portfolio-image-wrapper">
          <div class="portfolio-link-wrapper">
            <img
              class="portfolio-image"
              src="assets/LearnLanguageApp.png"
              alt="Learn Language App"
            />
            <div class="portfolio-overlay"></div>
            <img class="portfolio-link" src="assets/link.png" />
          </div>
        </div>
        
        <div class="portfolio-caption">
          <div class="portfolio-caption-content">
            <div>
              <p class="portfolio-caption-header">Learn Language Application</p>
              <p class="portfolio-caption-text">
                I had to learn Croatian language, so I made a tool to make the
                learning process easier. On the project page, you will find an additional link to an Android app that I did.
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="button-wrapper">
      <a class="contact-button" href="#contact">Contact</a>
    </div>
  </div>
</section>
