<a (click)="onToggleSidebar($event)" class="menu-toggle" href="#"
  ><i class="fas fa-bars"></i
></a>
<nav id="sidebar-wrapper" [ngClass]="{ active: sidebarActivated }">
  <ul>
    <li>
      <div class="sidebar-brand">
        <div>
          <a href="#header" (click)="onClick()">
        <img src="favicon.ico" />
      </a>
        </div>
        <div class="sidebar-flag">
          <img *ngIf="language==='de'" (click)="toggleLanguage()" src="../../assets/svg/Flag_of_Germany.svg" width="24px" height="24px">
          <img *ngIf="language==='en'" (click)="toggleLanguage()" src="../../assets/svg/Flag_of_the_United_Kingdom.svg" width="24px" height="24px">
        </div>
      </div>
      
    </li>
    <li>
      <a href="#header" (click)="onClick()">
        <div class="sidebar-item">
          <i class="fa-solid fa-house"></i>
          <p>{{ "sidebar.home" | translate }}</p>
        </div>
      </a>
    </li>
    <li>
      <a href="#about" (click)="onClick()">
        <div class="sidebar-item">
          <i class="fa-solid fa-user"></i>
          <p>{{ "sidebar.aboutMe" | translate }}</p>
        </div>
      </a>
    </li>
    <li>
      <a href="#skills" (click)="onClick()">
        <div class="sidebar-item">
          <i class="fa-solid fa-screwdriver-wrench"></i>
          <p class="col ms-2">{{ "sidebar.skills" | translate }}</p>
        </div>
      </a>
    </li>
    <li>
      <a href="#portfolio" (click)="onClick()">
        <div class="sidebar-item">
          <i class="fa-solid fa-toolbox"></i>
          <p>Portfolio</p>
        </div>
      </a>
    </li>
    <li>
      <a href="#contact" (click)="onClick()">
        <div class="sidebar-item">
          <i class="fa-solid fa-id-card"></i>
          <p>{{ "sidebar.contact" | translate }}</p>
        </div>
      </a>
    </li>
    <li>
      <a href="#footer" (click)="onClick()">
        <div class="sidebar-item">
          <i class="fa-solid fa-link"></i>
          <p>Links</p>
        </div>
      </a>
    </li>
  </ul>
</nav>
